@page
@model TaskManager.Pages.Projects.Taskings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2 class="center">Are You Sure You Want to Delete this?</h2>
<hr />
<div>
    <div class="subcol narrow">
        <div class="subform-red">
            <a class="" asp-page="./Edit" asp-route-id=@Model.Tasking.TaskingID></a>
            <h4 class="center">@Html.DisplayFor(model => model.Tasking.TaskTitle)</h4>
            <p class="center grey small">Created By: @Html.DisplayFor(modelitem => Model.Tasking.TaskOwnerName)</p>
            <hr />
            <div class="col-sm-10 center3 large">
                "@Html.DisplayFor(model => model.Tasking.Description)"
            </div>
<br />
            @if (Model.Tasking.Severity == 0)
            {
                <div><strong>Severity:</strong> Low <i class="fas fa-battery-empty grey-icon"></i></div>
            }
            @if (Model.Tasking.Severity == 1)
            {
                <div><strong>Severity:</strong> Medium <i class="fas fa-battery-half grey-icon"></i></div>
            }
            @if (Model.Tasking.Severity == 2)
            {
                <div><strong>Severity:</strong> High <i class="fas fa-battery-full grey-icon"></i></div>
            }

            @if (Model.Tasking.Progression == 0)
            {
                <div><strong>Progression:</strong> Created</div>
            }
            @if (Model.Tasking.Progression == 1)
            {
                <div><strong>Progression:</strong> In Progress</div>
            }
            @if (Model.Tasking.Progression == 2)
            {
                <div><strong>Progression:</strong> Completed</div>
            }
            <br />
            <div class="grey center small">Assigned To @Html.DisplayFor(model => model.Tasking.Assignment)</div>
        </div>
        
        <form method="post">
            <input type="hidden" asp-for="Tasking.TaskingID" />
            <div class="sub-mit">
                <input class="my-btn3-dlt sizing" type="submit" value="Delete" />
            </div>
        </form>
        <div class="sizing sub-back">
            <a class="my-btn3-back" asp-page="./Details" asp-route-id="@Model.Tasking.TaskingID">Back to Information Page</a>
        </div>
    </div>
    <br /><br /><br />

