@page
@model TaskManager.Pages.Projects.Taskings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tasking[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasking[0].Severity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasking[0].Progression)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasking[0].Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tasking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Severity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progression)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TaskingID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TaskingID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TaskingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
