@page
@model TaskManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}



<div class="blog-ylw">
    <div class="">
        @if (User.Identity.Name == Model.Blog.Author)
        {
            <a asp-page="./Edit" asp-route-id="@Model.Blog.BlogID"><i class="fas fa-edit floatright larger" aria-hidden="true"></i></a>
        }

        <h1>@Html.DisplayFor(model => model.Blog.Title)</h1>
        <h4 class="small">By @Html.DisplayFor(model => model.Blog.Author)</>, posted on @Html.DisplayFor(model => model.Blog.Date)</h4>
        @if (ViewBag.NoLikesYet == false)
        {
            @if (Model.Likes.IsLiked == 0 || Model.Likes.IsLiked == null)
            {
                <button id="btn" type="button" class="unliked-btn" value="way2"> <i class="fas fa-star"></i> <span id="result1">@Model.Blog.Likes</span></button>
            }
            @if (Model.Likes.IsLiked == 1)
            {
                <button id="btn" type="button" class="unliked-btn liked-btn" value="way2"> <i class="fas fa-star"></i> <span id="result1">@Model.Blog.Likes</span></button>
            }
        }
        else
        {
            <button id="btn" type="button" class="unliked-btn" value="way2">
                <i class="fas fa-star"></i> <span id="result1">@Model.Blog.Likes</span>
            </button>
        }
        <hr />
        <p class="large">
            @Html.Raw(Model.Blog.Post.Replace("\r\n", "<br/>"))
        </p>
    </div>
    <hr />
    <div>
        <a class="my-btn5 floatleft" asp-page="./Index" asp-route-pageIndex="1">Back to List</a>
    </div>
    @if (User.Identity.Name == Model.Blog.Author)
    {
        <a asp-page="./Delete" asp-route-id="@Model.Blog.BlogID"><i class="fas fa-recycle floatright larger recycle" style="color: red;"></i></a>
    }

    </div>
<br />
<br />

<div class="blog-blue">
    @{
        var prevDisabled = !Model.CommentsList.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.CommentsList.HasNextPage ? "disabled" : "";
    }
    <a asp-page=""
       asp-route-id="@Model.Blog.BlogID"
       asp-route-pageIndex="@(Model.CurrentPage - 1)"
       class="my-btn6 floatleft @prevDisabled">
        <i class="fas fa-caret-left"></i>
    </a>
    <a asp-page=""
       asp-route-id="@Model.Blog.BlogID"
       asp-route-pageIndex="@(Model.CurrentPage + 1)"
       class="my-btn6 floatright @nextDisabled">
        <i class="fas fa-caret-right"></i>
    </a>
    <div class="comment-form">

        <h2 class="center">Commentary</h2>
        <br />

        <form method="post" class="">
            <div class="">
                <textarea asp-for="Comments.Post" class="comment-box" maxlength="1000" value="" autocomplete="off"></textarea>
                <span asp-validation-for="Comments.Post" class="text-danger"></span>
            </div>
            <div class="">
                <input type="submit" value="Submit" class="comsub-blue" asp-page-handler="Comment" asp-route-id="@Model.Blog.BlogID" />
            </div>
        </form>

    </div>

    <br />
    <br />

    @foreach (var item in Model.CommentsList)
    {
        
<div class="comment" id="commentId">
    <div class="my-wrapper my-row2">
        <h5>
            Written By @Html.DisplayFor(modelItem => item.Author) On @Html.DisplayFor(modelItem => item.Date)
        </h5>
        @if (item.Author == User.Identity.Name)
        {
            <form asp-page="./Index" method="post" class="floatright">
                
                <input type="text" name="CommentId" value="@item.CommentID" hidden />
                <input type="text" name="id" value="@item.BlogID" hidden />
                <input type="submit" value="X" class="my-btn8" style="padding:0px 10px" asp-page-handler="CommentDelete" />
            </form>
        }
    </div>
    <p>
        @Html.DisplayFor(modelItem => item.Post)
    </p>
</div>
    }



    <a asp-page=""
       asp-route-id="@Model.Blog.BlogID"
       asp-route-pageIndex="@(Model.CurrentPage - 1)"
       class="my-btn6 floatleft @prevDisabled">
        <i class="fas fa-caret-left"></i>
    </a>
    <a asp-page=""
       asp-route-id="@Model.Blog.BlogID"
       asp-route-pageIndex="@(Model.CurrentPage + 1)"
       class="my-btn6 floatright @nextDisabled">
        <i class="fas fa-caret-right"></i>
    </a>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.0.js"></script>

<script>
    $(".unliked-btn").click(function () {
        $(this).toggleClass("liked-btn");
        $(this).toggleClass("star")
    });
</script>

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
    }
}
<script>
    $(function () {

        $("#btn").click(function (e) {
            e.preventDefault();
            var t = '@GetAntiXsrfRequestToken()';
            $.ajax({
                url: $(this).attr("way2"),
                headers:
                {
                    "RequestVerificationToken": t
                },
                type: "POST",
                data: { data: 'foo2' },
            }).done(function (data) {
                $('#result1').html(data);
            }).fail(function (a, v, e) {
                alert(e);
            });
        });
    })
</script>

