@page
@model TaskManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}



<div class="blog-ylw">
    <div class="">
        @if (User.Identity.Name == Model.Blog.Author)
        {
            <a asp-page="./Edit" asp-route-id="@Model.Blog.BlogID"><i class="fas fa-edit floatright larger" aria-hidden="true"></i></a>
        }

        <h1>@Html.DisplayFor(model => model.Blog.Title)</h1>
        <h4 class="small">By @Html.DisplayFor(model => model.Blog.Author)</>, posted on @Html.DisplayFor(model => model.Blog.Date)</h4>
        @if (ViewBag.NoLikesYet == false)
        {
            @if (Model.Likes.IsLiked == 0 || Model.Likes.IsLiked == null)
            {
                <button id="btn" type="button" class="unliked-btn" value="way2"> <i class="fas fa-star"></i> <span id="result1">@Model.Blog.Likes</span></button>
            }
            @if (Model.Likes.IsLiked == 1)
            {
                <button id="btn" type="button" class="unliked-btn liked-btn" value="way2"> <i class="fas fa-star"></i> <span id="result1">@Model.Blog.Likes</span></button>
            }
        }
        else
        {
            <button id="btn" type="button" class="unliked-btn" value="way2">
                <i class="fas fa-star"></i> <span id="result1">@Model.Blog.Likes</span>
            </button>
        }
        <hr />
        <p class="large">
            @Html.Raw(Model.Blog.Post.Replace("\r\n", "<br/>"))
        </p>
    </div>
    <hr />
    <div>
        <a class="my-btn5 floatleft" asp-page="./Index" asp-route-pageIndex="1">Back to List</a>
    </div>
    @if (User.Identity.Name == Model.Blog.Author)
    {
        <a asp-page="./Delete" asp-route-id="@Model.Blog.BlogID"><i class="fas fa-recycle floatright larger recycle" style="color: red;"></i></a>
    }

</div>
<br />
<br />

<br />
<br />

<div class="blog-blue">
    <button id="btn1"
            class="my-btn6 floatleft disabled">
        <i class="fas fa-caret-left"></i>
    </button>
    <button id="btn2"
            class="my-btn6 floatright disabled">
        <i class="fas fa-caret-right"></i>
    </button>
    <h2 class="center">Commentary</h2>
    <br />
    <textarea asp-for="Comments.Post" class="comment-box" id="input" maxlength="1000" value="" autocomplete="off"></textarea>
    <button id="btn4"
            class="my-btn6 floatright">
        Submit Comment
    </button>

    <div id="result2"></div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.0.js"></script>


<script>
    $(".unliked-btn").click(function () {
        $(this).toggleClass("liked-btn");
        $(this).toggleClass("star")
    });
</script>

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
    }
}
<script>
    $(function () {

        $("#btn").click(function (e) {
            e.preventDefault();
            var t = '@GetAntiXsrfRequestToken()';
            $.ajax({
                url: $(this).attr("way2"),
                headers:
                {
                    "RequestVerificationToken": t
                },
                type: "POST",
                data: { data: 'foo2' },
            }).done(function (data) {
                $('#result1').html(data);
            }).fail(function (a, v, e) {
                alert(e);
            });
        });
    })
</script>

<script>


    $(document).ready(function () {
        var num = 1;
        var element1 = document.getElementById("btn1");
        var element2 = document.getElementById("btn2");
        var count = @Model.Count;
        var maxcount = (count - (count % 10)) / 10;
        if (count % 10 != 0) {
            maxcount += 1;
        }

        if (count > 10) {
            element2.classList.remove("disabled");
        }

        $.wait = function(ms) {
            var defer = $.Deferred();
            setTimeout(function() { defer.resolve(); }, ms);
            return defer;
};

        $.ajax({
            type: 'GET',
            url: '@Url.Page("ajaxpartial3", "")',
            data: { pageIndex: (num), id: @Model.Blog.BlogID },
            success: function (eggs) {
                $('#result2').html(eggs);
                $('#num').html(num);
                $('#Max').html(maxcount);
            }
        });

        $('#btn2').click(function () {
            if (num < maxcount) { num += 1 };
            $.ajax({
                type: 'GET',
                url: '@Url.Page("ajaxpartial3", "")',
                data: { pageIndex: (num), id: @Model.Blog.BlogID },
                success: function (eggs) {
                    $('#result2').html(eggs);
                    $('#num').html(num);
                    $('#Max').html(@Model.Max);
                    if (num == maxcount) {
                        element2.classList.add("disabled");
                    } else {
                        element2.classList.remove("disabled");
                    }
                    if (num == 1) {
                        element1.classList.add("disabled");
                    } else {
                        element1.classList.remove("disabled");
                    }
                }
            })
         });
        $('#btn1').click(function () {
            if (num > 1) { num -= 1 } else { num = num; }
            $.ajax({
                type: 'GET',
                url: '@Url.Page("ajaxpartial3", "")',
                data: { pageIndex: (num),  id: @Model.Blog.BlogID },
                success: function (eggs) {
                    $('#result2').html(eggs);
                    $('#num').html(num);
                    if (num == maxcount) {
                        element2.classList.add("disabled");
                    } else {
                        element2.classList.remove("disabled");
                    }
                    if (num == 1) {
                        element1.classList.add("disabled");
                    } else {
                        element1.classList.remove("disabled");
                    }
                }
            })
        });
        $("#btn4").click(function (e) {
            e.preventDefault();
            var t = '@GetAntiXsrfRequestToken()';
            var datasearch = $('#input').val();
            $.ajax({
                url: '@Url.Page("Details", "two")',
                headers:
                {
                    "RequestVerificationToken": t
                },
                type: "POST",
                data: { Title: datasearch, id: @Model.Blog.BlogID  },
                success: function (eggs) {
                }
            })
        });
        $('#btn4').click(function () {
            count += 1;
            if ((count > 10) && ( ((count-1) - (count-1) % 10) / 10 + 1 ) > maxcount) {
                        element2.classList.remove("disabled");
                        maxcount += 1;
                    }
            timer = setTimeout(function () {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Page("ajaxpartial3", "")',
                    data: { pageIndex: (num), id: @Model.Blog.BlogID},
                    success: function (eggs) {
                        //window.setTimeout(10000);
                        $('#result2').html(eggs);
                        
                    }
                })
            }, 500)
         });
    });
</script>